.planes-container--slider {
    justify-content: center;
    overflow: auto;
}

.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.main-table-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}

footer .right img {
    width: 90px;
    height: 90px;
}